<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootswatch: Lux</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="css/bootstrap.css" media="screen">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	
	<style>
		body{padding-top: 120px;}
		.invalid-feedback{font-size:1.15em;padding: 0.75em;}
		footer{margin-top: 70px;
				border-top: #919aa1 solid 1px;
				padding-top: 2em;
}
		.navbar .dropdown-toggle, .navbar .dropdown-menu a {
    cursor: pointer;
}

.navbar .dropdown-item.active, .navbar .dropdown-item:active {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
}

.navbar .dropdown-item:focus, .navbar .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

@media (min-width: 767px) {
    .navbar .dropdown-toggle:not(.nav-link)::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .5em;
        vertical-align: 0;
        border-bottom: .3em solid transparent;
        border-top: .3em solid transparent;
        border-left: .3em solid;
    }
}
		</style>
		<script>
	  $(document).ready(function () {

    $('.navbar .dropdown-item').on('click', function (e) {
        var $el = $(this).children('.dropdown-toggle');
        var $parent = $el.offsetParent(".dropdown-menu");
        $(this).parent("li").toggleClass('open');

        if (!$parent.parent().hasClass('navbar-nav')) {
            if ($parent.hasClass('show')) {
                $parent.removeClass('show');
                $el.next().removeClass('show');
                $el.next().css({"top": -999, "left": -999});
            } else {
                $parent.parent().find('.show').removeClass('show');
                $parent.addClass('show');
                $el.next().addClass('show');
                $el.next().css({"top": $el[0].offsetTop, "left": $parent.outerWidth() - 4});
            }
            e.preventDefault();
            e.stopPropagation();
        }
    });

    $('.navbar .dropdown').on('hidden.bs.dropdown', function () {
        $(this).find('li.dropdown').removeClass('show open');
        $(this).find('ul.dropdown-menu').removeClass('show open');
    });
    $('#review').on('keyup',function(){
         checkLen($('#review').val().length); 
    });
           $('#reviewsubmit').on("click",function(e){
               e.preventDefault();
               var  errorlist ="";
               if($('#reviewTitle').val().length<5){ errorlist += "Review needs  a title"+"\n";}
               
               if(($('#review').val().length>200)){ errorlist += "Review is too long" +"\n";}
               if($('#review').val().length <= 0){ errorlist += "Enter Review" +"\n";}
               if($('input[name="customRadio"]:checked').val() == undefined){
                   errorlist += "Please select  a rating"+"\n";;
               }
               if(errorlist!=""){
                   alert(errorlist);
               }
               else{
                   $('.reviewlist').append(
                    $('<li>').append(
                       $('<h4>').attr('class', 'tab').append($('#reviewTitle').val())).append(
                       $('<span>').attr('class', 'tab').append($('#review').val())).append($('<br>')).append(
                       $('<span>').attr('class', 'tab').append($('input[name="customRadio"]:checked').val() + " Stars")));
               }
           });
});
            
            function checkLen(val){
                    if(val == undefined){ val =0;}
                    document.getElementById('counterDisplay').innerHTML = val + ' of 200';
                
            }
	  </script>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown1</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown1">
                    <li class="dropdown-item" href="#"><a>Action 1</a></li>
                    <li class="dropdown-item dropdown">
                        <a class="dropdown-toggle" id="dropdown1-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown1.1</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown1-1">
                            <li class="dropdown-item" href="#"><a>Action 1.1</a></li>
                            <li class="dropdown-item dropdown">
                                <a class="dropdown-toggle" id="dropdown1-1-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown1.1.1</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdown1-1-1">
                                    <li class="dropdown-item" href="#"><a>Action 1.1.1</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" placeholder="Search" type="text">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-md-offset-2 ">
            <div class="panel panel-default ">
                <div class="panel-heading text-center"><h1>Add Product Review</h1></div>
    <p>Product Name: Concept 01
                     </p>
                <div class="panel-body">
                    <form class="form-horizontal" method="POST"  action="">
                        <div class="form-group">
                            <label for="reviewTitle" class="col-md-6 control-label">Review Title</label>

                            <div class="col-md-12">
                                <input id="reviewTitle" type="text" class="form-control" name="reviewTitle" value="" required autofocus>
                                    <span class="invalid-feedback"  ><!-- Remove  display block -->
                                        <strong>Field has Errors</strong>
                                    </span>
                            </div>
                        </div>
                        <div class="form-group " style="margin-left: 1em;">
                            <label for="customRadio" class="col-md-6 control-label">Review number</label>
                            <div class="custom-control custom-radio">
                                  <input type="radio" id="customRadio0" value="0" name="customRadio" class="custom-control-input" >
                                        <label class="custom-control-label" for="customRadio0">0</label>
                            </div>
                            <div class="custom-control custom-radio">
                                  <input type="radio" id="customRadio1" value="1" name="customRadio" class="custom-control-input" >
                                        <label class="custom-control-label" for="customRadio1">1</label>
                            </div>
                            <div class="custom-control custom-radio">
                                  <input type="radio" id="customRadio2" value="2" name="customRadio" class="custom-control-input" >
                                        <label class="custom-control-label" for="customRadio2">2</label>
                            </div>
                            <div class="custom-control custom-radio">
                                  <input type="radio" id="customRadio3" value="3" name="customRadio" class="custom-control-input" >
                                        <label class="custom-control-label" for="customRadio3">3</label>
                            </div>
                            <div class="custom-control custom-radio">
                                  <input type="radio" id="customRadio4"  value="4" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio4">4</label>
                            </div>
                            <div class="custom-control custom-radio">
                                  <input type="radio" id="customRadio5" value=5 name="customRadio" class="custom-control-input" checked="">
                                        <label class="custom-control-label" for="customRadio5">5</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="review" class="col-md-6 control-label">Review</label>

                            <div class="col-md-12">
                                <!--<input id="review" type="text" class="form-control" name="review" value="" required autofocus>-->
                                 <textarea id="review" type="text" class="form-control" name="review" value="" required autofocus rows="4" cols="50"></textarea> 
                                   <span id="counterDisplay">0 of 200</span>
                                    <span class="invalid-feedback"  ><!-- Remove  display block -->
                                        <strong>Field has Errors</strong>
                                    </span>
                            </div>
                        </div>
                        
                       

                       
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button id="reviewsubmit" type="submit" class="btn btn-primary">
                                    Add review
                                </button>

                               
                            </div>
</div>
				</form>
			</div>
			<div >
                Current reviews
			    <ul class="reviewlist">
			        
			    </ul>
			    
			</div>
		  </div>
		  </div>
		  </div>
		  </div>

<!------ Include the above in your HEAD tag ---------->

<footer class="section footer-classic context-dark bg-image" >
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
              <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
                <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion, business consulting, and marketing.</p>
                <!-- Rights-->
                <p class="rights"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>Waves</span><span>. </span><span>All Rights Reserved.</span></p>
              </div>
            </div>
            <div class="col-md-4">
              <h5>Contacts</h5>
              <dl class="contact-list">
                <dt>Address:</dt>
                <dd>798 South Park Avenue, Jaipur, Raj</dd>
              </dl>
              <dl class="contact-list">
                <dt>email:</dt>
                <dd><a href="mailto:#">dkstudioin@gmail.com</a></dd>
              </dl>
              <dl class="contact-list">
                <dt>phones:</dt>
                <dd><a href="tel:#">+91 7568543012</a> <span>or</span> <a href="tel:#">+91 9571195353</a>
                </dd>
              </dl>
            </div>
            <div class="col-md-4 col-xl-3">
              <h5>Links</h5>
              <ul class="nav-list">
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Pricing</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
	</body>
</html>