<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> session storage</title>
<link rel="stylesheet" href="css/bootstrap.css" media="screen">   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
</head>

<body>
    <script>
        var product = {
            "id": 1,
            "name": "Gundam",
            "quantity": 1,
            "price": 3.50
        };

        function add() {
            var a = [];
            if (localStorage.getItem("products") == undefined) {
                a.push(product);
                localStorage.setItem("products", JSON.stringify(a));
            } else {
                a = JSON.parse(localStorage.getItem("products"));
                for (var i in a) {
                    var productn = i;
                    if (productn.id == product.id) {
                        i.id = i.id + 1;
                    } else {
                        a.push(product);
                    }
                }

                localStorage.setItem("products", JSON.stringify(a));
            }
        }

        function update(mid, nammount) {
            var a = [];
            a = JSON.parse(localStorage.getItem("products"));
            if (nammount > 0) {
                for(var i in a) {
                    if (i.id == mid) {
                        i.quantity = nammount;
                    }
                }
                localStorage.setItem("products", JSON.stringify(a));
            }else if(nammount==0){
                var b = [];
                 for(var i in a) {
                    if (i.id != mid ) {
                       b.push(i);
                    }
                }
            }
        }
function createrow(name,quantity,price,id){
    var rowhtml = "<tr id='"+id+"'> <td class='col-sm-8 col-md-6'><div class='media'><a class='thumbnail pull-left' href='#'> <img class='media-object' src='http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png' style='width: 72px; height: 72px;'> </a><div class='media-body'><h4 class='media-heading'><a href='#'>"+name+"</a></h4></div> </div></td>  <td class='col-sm-1 col-md-1' style='text-align: center'><input type='number' class='form-control' id='exampleInputEmail1' value='"+quantity+ "'></td> <td class='col-sm-1 col-md-1 text-center'><strong>$"+price+"</strong></td><td class='col-sm-1 col-md-1 text-center'><strong>$"+(price*quantity)+"</strong></td><td class='col-sm-1 col-md-1'> <button type='button' data="+id+"  class='btn btn-danger'><span class='glyphicon glyphicon-remove'></span> Remove </button></td> </tr>"
    $("#cartbody").prepend(rowhtml);
    
}
       
    </script>
    <div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody id="cartbody">
                    
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong>$24.59</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Estimated shipping</h5></td>
                        <td class="text-right"><h5><strong>$6.94</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>$31.53</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        </button></td>
                        <td>
                        <button type="button" class="btn btn-success">
                            Checkout <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

</html>
