<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><link rel="stylesheet" href="productpage_files/productcss.css" media="screen">
<link href="productpage_files/bootstrap_002.css" rel="stylesheet" id="bootstrap-css">
<script src="productpage_files/bootstrap.js"></script>
<script src="productpage_files/jquery_002.js"></script>
<!------ Include the above in your HEAD tag ---------->
<script>
  // var product = {
  //   "id": 1,
  //   "name": "Gundam",
  //   "quantity": 1,
  //   "price": 3.50
  // };
</script>
<link rel="stylesheet" href="productpage_files/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head><body><main>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card mb-10">
          <div class="card-header">
            <nav class="header-navigation">
              <a href="http://localhost/CNC/public/products" class="btn btn-link">Back to the list</a>

              <ol class="breadcrumb">
                <!-- <li class="breadcrumb-item"><a href="#">Home</a></li> -->
                                  
                              </ol>

              <div class="btn-group">
                <!-- <a href="#" class="btn btn-link btn-share">Share</a> 
                <a href="#" class="btn btn-link">Sell item like this</a> -->
              </div>
            </nav>
          </div>
                    <div class="card-body store-body">
            <div class="product-info">
              <div class="product-gallery">
                <div class="product-gallery-thumbnails">
                  <ol class="thumbnails-list list-unstyled">
                                                                    <li><img src="productpage_files/1274566250red1-720p.jpg" width="70px" height="70px"></li>
                                                              <li><img src="productpage_files/930000.png" alt=""></li>
                  </ol>
                </div>
                <div class="product-gallery-featured">
                  <img src="productpage_files/1274566250red1-720p.jpg" alt="" width="350px" height="350px">
                </div>
              </div>
              <div class="product-seller-recommended">
                <h3 class="mb-5">More from Nitish Bajaj's Store</h3>
                <div class="recommended-items card-deck">
                                     <div class="card">
                      <a href="http://localhost/CNC/public/product/1"><img src="productpage_files/157x157.png" alt="" class="card-img-top"></a>
                      <div class="card-body">
                        <h5 class="card-title">$ 10.0000</h5>
                        <span class="text-muted"><small>Delectus tempore.</small></span>
                      </div>
                    </div>
                                     <div class="card">
                      <a href="http://localhost/CNC/public/product/2"><img src="productpage_files/157x157.png" alt="" class="card-img-top"></a>
                      <div class="card-body">
                        <h5 class="card-title">$ 58.0000</h5>
                        <span class="text-muted"><small>Et.</small></span>
                      </div>
                    </div>
                                     <div class="card">
                      <a href="http://localhost/CNC/public/product/6"><img src="productpage_files/157x157.png" alt="" class="card-img-top"></a>
                      <div class="card-body">
                        <h5 class="card-title">$ 81.0000</h5>
                        <span class="text-muted"><small>Omnis.</small></span>
                      </div>
                    </div>
                                     <div class="card">
                      <a href="http://localhost/CNC/public/product/7"><img src="productpage_files/157x157.png" alt="" class="card-img-top"></a>
                      <div class="card-body">
                        <h5 class="card-title">$ 92.0000</h5>
                        <span class="text-muted"><small>Laborum.</small></span>
                      </div>
                    </div>
                       
                </div>
                <!-- /.recommended-items-->
                <p class="mb-5 mt-5"><a href="#">See all ads from this seller</a></p>
                <div class="product-description mb-5">
                  <h2 class="mb-5">Features</h2>
                  <dl class="row mb-5">
                    <!--
                    <dt class="col-sm-3">Brand</dt>
                    <dd class="col-sm-9">Nickony</dd>
                    <dt class="col-sm-3">Color</dt>
                    <dd class="col-sm-9">Red</dd>
                    <dt class="col-sm-3">Size</dt>
                    <dd class="col-sm-9">XXL</dd>
                    <dt class="col-sm-3">Fabric</dt>
                    <dd class="col-sm-9">Cottom</dd>
                  -->
                  <!--  -->

                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                                                                  <tr>
                          <td>Colour</td>
                          <td>Black</td>
                        </tr>
                                              <tr>
                          <td>Size</td>
                          <td>Medium</td>
                        </tr>
                                              <tr>
                          <td>Sim</td>
                          <td>Micro</td>
                        </tr>
                                              <tr>
                          <td>Unlocked</td>
                          <td>Yes</td>
                        </tr>
                                                              </tbody>
                  </table>
                  </dl>
                  <h2 class="mb-5">Description</h2>
                  <p>sdfghjk</p>
                </div>
                <div class="product-faq mb-5">
                  <h2 class="mb-3">Questions and Answers</h2>
                  <p class="text-muted">What information do you need?</p>
                  <div class="main-questions d-inline" data-container="body" data-toggle="popover" data-placement="right" data-content="Are you in doubt? these shortcuts can help you!">
                    <a href="#" class="btn btn-outline-primary">Cost and Delivery time</a>
                    <a href="#" class="btn btn-outline-primary">Warranty</a>
                    <a href="#" class="btn btn-outline-primary">Payment options</a>
                  </div>
                </div>
                <div class="product-comments">
                  <h5 class="mb-2">Or ask to Nitish's Store</h5>
                  <form action="" class="form-inline mb-5">
                    <textarea name="" id="" cols="50" rows="2" class="form-control mr-4" placeholder="write a question"></textarea><button class="btn btn-lg btn-primary">Ask</button>
                  </form>
                  <h5 class="mb-5">Lastest Questions</h5>
                  <ol class="list-unstyled last-questions-list">
                    <li><i class="fa fa-comment"></i> <span>Hello Nitish, can i pay with credit card?</span></li>
                    <li><i class="fa fa-comment"></i> <span>can i send it to another address?</span></li>
                  </ol>
                </div>
              </div>
            </div>
            <div class="product-payment-details">
              <p class="last-sold text-muted"><small>145 items sold</small></p>
              <h4 class="product-title mb-2">n2</h4>
              <h2 class="product-price display-4">$ 5.00</h2>
              <!-- <p class="text-success"><i class="fa fa-credit-card"></i> 12x or  5x $ 5.00</p> -->
              <p class="mb-0"><i class="fa fa-truck"></i> Delivery in all territory</p>
              <div class="text-muted mb-2"><small>know more about delivery time and shipping forms</small></div>
              <label for="quant">Quantity</label>
              <form action="http://localhost/CNC/public/shoppingCart" method="get">
                <input type="hidden" name="_token" value="ySHI5R0gVkcbKzYnvKAmpYU6EyQ6qLlXeJptxtsd">
                <input type="hidden" id="productName" name="productName" value="n2"> 
                <input type="hidden" id="price" name="price" value="5.0000"> 
                                <input type="number" name="quantity" min="1" id="quantity" class="form-control mb-5 input-lg" placeholder="Choose the quantity" required="">
                
                <button id="addToCart" class="btn btn-primary btn-lg btn-block">Add to Cart</button>
              </form>
            </div>
          </div>
                  </div>
      </div>
    </div>
  </div>
</main>
<script>
	var product =  {
            "id": 37,
            "name": "n2",
            "quantity": 1,
            "price":5.0000
        };
	$(document).ready(function(){
		
		$('#addToCart').on("click",function(){
			product.quantity = $("#quantity").val();
			addProduct();
			window.location.href("/shoppingCart");
		});
	});
</script>
<script src="productpage_files/productjs.js"></script>



  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="productpage_files/bootstrap.css" media="screen">
   <!-- <link href="http://localhost/CNC/public/css/updatecss.css" rel="stylesheet"> -->
   <script src="productpage_files/jquery.js"></script>
   <script src="productpage_files/additonal.js"></script>
   <style>
    body{padding-top: 120px;}
    .invalid-feedback{font-size:1.15em;padding: 0.75em;}
    footer{margin-top: 70px;
        border-top: #919aa1 solid 1px;
        padding-top: 2em;
}
        .Listings .products>div {
    border-top: 1px solid;
    padding: 1em .5em;
}
        .block30{
            float: left;
            width: 30%;
        }
        .block60{
            float:left;
            width: 60%;
        }
        .clear{clear:both;}
    </style>


  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <a class="navbar-brand" href="http://localhost/CNC/public">CNC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost/CNC/public">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost/CNC/public/categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost/CNC/public/products">Products</a>
        </li>
                  <li class="nav-item">
            <a class="nav-link" href="http://localhost/CNC/public/users">Users</a>
          </li>
                <!-- <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li> -->
                  <li class="nav-item">
            <a class="nav-link" id="flagsign" href="http://localhost/CNC/public/signout">Sign out, Nitish</a>
          </li>
                        
        
                  <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="http://localhost/CNC/public/shoppingCart">Cart</a>
              <a class="dropdown-item" href="http://localhost/CNC/public/orders">My Orders</a>
              <a class="dropdown-item" href="http://localhost/CNC/public/inventory">Inventory</a>
            </div>
          </li>
              </ul>
      <form class="form-inline my-2 my-lg-0" action="http://localhost/CNC/public/search" method="get">
        <input type="hidden" name="_token" value="ySHI5R0gVkcbKzYnvKAmpYU6EyQ6qLlXeJptxtsd">
        <input class="form-control mr-sm-2" placeholder="Search" type="text" name="search" id="search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  

  <footer class="section footer-classic context-dark bg-image">
    <div class="container">
      <div class="row row-30">
        <div class="col-md-4 col-xl-5">
          <div class="pr-xl-4"><a class="brand" href="http://localhost/CNC/public/product/index.html"><img class="brand-logo-light" src="productpage_files/logo-inverse-140x37.html" alt="" srcset="images/agency/logo-retina-inverse-280x74.png 2x" width="140" height="37"></a>
            <p>We are an award-winning creative agency, dedicated to the
 best result in web design, promotion, business consulting, and 
marketing.</p>
            <!-- Rights-->
            <p class="rights"><span>©&nbsp; </span><span class="copyright-year">2018</span><span>&nbsp;</span><span>Waves</span><span>.&nbsp;</span><span>All Rights Reserved.</span></p>
          </div>
        </div>
        <div class="col-md-4">
          <h5>Contacts</h5>
          <dl class="contact-list">
            <dt>Address:</dt>
            <dd>70 The Pond Rd ,North York, ON M3J 3M6</dd>
          </dl>
          <dl class="contact-list">
            <dt>email:</dt>
            <dd><a href="mailto:#">IdeaStore@gmail.com</a></dd>
          </dl>
          <dl class="contact-list">
            <dt>phones:</dt>
            <dd><a href="tel:#">+91 000000000</a> <span>or</span> <a href="tel:#">+91 0000000</a>
            </dd>
          </dl>
        </div>
        <div class="col-md-4 col-xl-3">
          <h5>User Functions</h5>
          <ul class="nav-list">
            <li><a href="http://localhost/CNC/public/orders">Orders</a></li>
            <li><a href="http://localhost/CNC/public/orderstbs">Orders to fill</a></li>
            <li><a href="http://localhost/CNC/public/inventory">Inventory</a></li>
           
          </ul>
        </div>
      </div>
    </div>
  </footer>
  


</body></html>